@model List<ORSP.Models.DataForm>

@{
    ViewBag.Title = "ExportData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canPage: false);
}

<h2>ExportData</h2>
<div>
    @grid.GetHtml(
    tableStyle:"gridtable",
    columns:grid.Columns(
        grid.Column("Email", "Email"),
        grid.Column("FundingAgency", "FundingAgency"),
        grid.Column("PrimeProposal", "PrimeProposal"),
        grid.Column("RFPTitle", "RFPTitle"),
        grid.Column("SolicitationNumber", "SolicitationNumber"),
        grid.Column("ProjectName", "ProjectName"),
        grid.Column("WorkingorFinal", "WorkingorFinal"),
        grid.Column("DueDate", "DueDate"),
        grid.Column("SizeofRequest", "SizeofRequest"),
        grid.Column("LeadPI", "LeadPI"),
        grid.Column("CoPIS", "CoPIS"), 
        grid.Column("UCBarkleypersonnel", "UCBarkleypersonnel"),
        grid.Column("ReviewerComments", "ReviewerComments"),
        grid.Column("Purpose", "Purpose"),
        grid.Column("RelevantBackground", "RelevantBackground"),
        grid.Column("GoalsandQuestions", "GoalsandQuestions"),
        grid.Column("Reference", "Reference"),
        grid.Column("Approach", "Approach"),
        grid.Column("ProjectworkPlan", "ProjectworkPlan"),
        grid.Column("Startdate", "Startdate"),
        grid.Column("Enddate", "Enddate"),
        grid.Column("PeriodOfPerformance", "PeriodOfPerformance"),
        grid.Column("Collaborators", "Collaborators"),
        grid.Column("Probability", "Probability"),
        grid.Column("InformationNeeded", "InformationNeeded"),
        grid.Column("Anticipateddate", "Anticipateddate")
        )
      )

</div>
<div>
    Export Data : @Html.ActionLink("Excel", "GetExcel","ExportDataForm" )
</div>
