@model List<Myapplication.Models.info>

@{
    ViewBag.Title = "Exportinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canPage: false);
}

@* CSS *@

<style type="text/css">
    table.gridtable {
        width: 100%;
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 50px;
        border-color: #666666;
        border-collapse: collapse;
        overflow: scroll;
        overflow-x: auto;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
            overflow-x: auto
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
            overflow-x: auto
        }

    .gridtable {
        overflow: scroll;
        overflow-x: auto;
    }
</style>



<h2>ExportData</h2>
<div class="gridtableview" style="overflow: scroll; width: auto">
    <div style="width: 1000px">
        @grid.GetHtml(
    tableStyle: "gridtable",
    columns: grid.Columns(
        grid.Column("Name", "Name"),
        grid.Column("Funds", "Funds"),
        grid.Column("Proposal", "Proposal"),
        grid.Column("Title", "Title"),
        grid.Column("IdentitificationNumber", "IdentitificationNumber"),
        grid.Column("ProjectName", "ProjectName"),
        grid.Column("FinalorInitial", "FinalorInitial"),
        grid.Column("Start", "Start"),
        grid.Column("End", "End"),
        grid.Column("Partners", "Partners"),
        grid.Column("Collaborations", "Collaborations"),
        grid.Column("Personnels", "Personnels"),
        grid.Column("Comments", "Comments"),
        grid.Column("Purpose", "Purpose"),
        grid.Column("Experience", "Experience"),
        grid.Column("Goals", "Goals"),
        grid.Column("Supporters", "Supporters"),
        grid.Column("Approach", "Approach"),
        grid.Column("Plan", "Plan"),
        g
        )
      )
        </div>

    </div>
    <div>
        Export Data : @Html.ActionLink("Excel", "GetExcel10", "Exportinfo")
    </div>
